<!DOCTYPE html>
<html>

	<!-- Scripts -->

	<!-- Links -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

	<!-- Head -->
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/home_style.css')}}">
	</head>

	<!-- Body -->
	<body>
		<nav class='navbar'>
			<a class="brand" href="#">JM</a>
			<ul>
				<li><a class="active" href="/home">Community</a></li>
				<li><a href="/home/feedback">Feedback</a></li>
				<li><a href="/home/info"> Information </a></li>
			</ul>
			<form action="/">
				<button class="signout" type="submit"> Sign out </button>
			</form>
		</nav>
		<h2> Message Community </h2>
		<h3> Send your community a message up to 160 characters <br> about upcoming promotions, events, deals, etc. </h3>
		<form action="/home/community/send" method="post">
			<textarea type="text" id="message" name="message" placeholder="Start writing here." maxlength="160" rows="5" cols="50"></textarea>
			<p class="error"> {{ error_message }} </p>
			<button class="send" type="submit"> Send to community </button>
		</form>
	</body>
</html>
