<!DOCTYPE html>
<html>

	<!-- Scripts -->

	<!-- Links -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

	<!-- Head -->
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/home_style.css')}}">
	</head>

	<!-- Body -->
	<body>
		<nav class='navbar'>
			<a class="brand" href="#">JM</a>
			<ul>
				<li><a class="active" href="#">Community</a></li>
				<li><a href="#">Feedback</a></li>
				<li><a href="/home/share/ussd/callback">Share</a></li>
			</ul>
			<form action="/">
				<button class="signout" type="submit"> Sign out </button>
			</form>
		</nav>
		<form action="/home/community/send" method="post">
			<textarea type="text" id="message" name="message" placeholder="Write a message to your community (max 160 characters)" maxlength="160" rows="5" cols="50"></textarea>
			<button class="send" type="submit"> Send to community </button>
		</form>
	</body>
</html>
